.header-container{
  content: '';
  width: 100%;
  height: 60px;
  background-image: linear-gradient(-90deg, #50b752, #1b6705);
  display: flex;
}

.brand{
  flex: 1;
  height: 100%;
}

.logout{
  flex: 1;
  text-align: right;
}

.logout button{
  position: relative;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 15px;
  width: 30px;
  height: 30px;
  background: url('../../../../assets/icones/logout.png') no-repeat center;
  background-size: 100%;
}

.brand a{
  display: inline;
  margin-left: 20px;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  font-family: Arial, serif;
}

.welcome-message {
  display: inline;
  margin-left: 20px;
  position: relative;
  font-size: 14px;
  color: #FFF;
  font-family: Arial, serif;
}
