/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";

html, body {
  height: 100%;
}

body{
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #C8C8C8;
}

.vertical-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
